body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fafafa;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: white;
    border-bottom: 1px dashed #eeeeee;
    overflow: hidden;
}

.nav {
    display: inline-block;
}
.logo, .nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    line-height: 66px;
    padding: 0 18px;
}

nav {
    float:right;
    
}

.nav li ul {
    margin: 0;
    padding: 0;
    display: none;background-color:white;
    color:black;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav li ul li {
    display: block;
}

.nav li ul li a {
    display: block;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    
}

.nav li ul li:last-child a {
    border-bottom:none;
}

.nav li:hover ul {
    position:absolute;
    display: block;
    
}








